{% comment %}theme-check-disable TemplateLength{% endcomment %}

<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-main-sidebar.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-main-sidebar.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width section-{{ section.id }}-padding">
  <div class="sidebar_grid">
   {%  if section.settings.enable_sideabr %}
    <div class="menu">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'side_menu' -%}
      {% if block.settings.policy_header %}
      <h3>{{ block.settings.policy_header }}</h3>
      {% endif %}
      
      {% assign linklist = block.settings.policy_linklist %}
      <ul class="sidebar-lists">
        {% for link in linklists[linklist].links %}
        <li>
          <a href="{{ link.url }}" class="{% if link.active %}page{% endif %}">
            {{ link.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {%- endcase -%}
      {%- endfor -%}
    </div> 
 {% endif %}
    <div class="content">
      {% if section.settings.enable_page_title %}
      <h1 class="main-page-title page-title h0">
        {{ page.title | escape }}
      </h1>
      {% endif %}
      <div class="rte">
    {% if section.settings.enable_page_content %}
    {{ page.content }}
    {% endif %}
    
    {%- for block in section.blocks -%}
          {%- case block.type -%}
    {%- when 'text' -%}
            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}">
              {{- block.settings.text -}}
            </p>
    {%- when 'collapsible_tab' -%}
            <div class="product__accordion accordion">
              <details>
                <summary>
                  <div class="summary__title">
                    {% render 'icon-accordion', icon: block.settings.icon %}
                    <h2 class="h4 accordion__title">
                      {{ block.settings.heading | default: block.settings.page.title }}
                    </h2>
                  </div>
                  {% render 'icon-caret' %}
                </summary>
                <div class="accordion__content rte">
                  {{ block.settings.content }}
                  {{ block.settings.page.content }}
                </div>
              </details>
            </div>
    {%- endcase -%}
        {%- endfor -%}
  </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "page-section spaced-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "Body"
            },
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "uppercase",
              "label": "Uppercase"
            }
          ],
          "default": "body",
          "label": "Body"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "Collapsible tab",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "Include a heading that explains the content.",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Tab content from page"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Rules"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "check_mark",
          "label": "Check mark"
        }
      ]
    },
    {
      "type": "side_menu",
      "name": "Sidebar Item",
      "settings": [
        {
          "type": "text",
          "id": "policy_header",
          "default": "Sidebar item title",
          "info": "Include a heading that explains the content.",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "policy_linklist",
          "label": "Policy menu"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Page",
      "info": "Choose your page options"
    },
    {
      "type": "checkbox",
      "id": "enable_sideabr",
      "default": true,
      "label": "Enable Sidebar"
    },
    {
      "type": "checkbox",
      "id": "enable_page_title",
      "default": true,
      "label": "Display page title"
    },
    {
      "type": "checkbox",
      "id": "enable_page_content",
      "default": true,
      "label": "Display page content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}